html {
    font-size:16px;
  }
  
  body{
    font-family:arial;
    line-height: 1.5;
    margin: 0;
  }
  
  #main {
      margin: 0;
      border-radius: 5px;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  h1,h3 {
    font-family: Georgia, serif;
    font-size:1.4rem;
    text-align:center;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-caption {
   text-align:center; 
  }
  
  #img-caption {
    margin: 20px;
  }
  
  h1+p {
    text-align:center;
  }
  
  li{
    margin:20px 0px;
    list-style-type:none;
  }
  
  ul{
    max-width:600px;
    text-align:left;
    margin:50px
  }
  
  a {
    margin:10px;
    color: #477ca7;
  }